.background {
  viewport-fill: lightgray;
}

.fontcolor {
  x: 1%;
  fill: navajowhite;
}

#time {
  font-family: System-Bold;
  text-length: 32;
  font-size: 90;
  y: 23%;
}

#ampm {
  font-family: System-Bold;
  text-length: 32;
  font-size: 30;
  y: 35%;
}

#day {
  font-family: System-Bold;
  text-length: 32;
  font-size: 25;
  y: 89%;
}

#date {
  font-family: System-Bold;
  text-length: 32;
  font-size: 22;
  y: 98%;
}