.background {
  viewport-fill: lightgray;
}

.fontcolor {
  fill: navajowhite;
}

.iconcolor {
  fill: white;
}


#time {
  font-family: System-Bold;
  text-length: 32;
  font-size: 70;
  y: 22%;
}

#ampm {
  font-family: System-Bold;
  text-length: 32;
  font-size: 45;
  y: 35%;
}

#day {
  font-family: System-Bold;
  text-length: 32;
  font-size: 25;
  y: 88%;
}


#date {
  font-family: System-Bold;
  text-length: 32;
  font-size: 25;
  y: 97%;
}