.background {
  viewport-fill: black;
}

.fontcolor {
  font-family: System-Bold;
  text-length: 32;
  x: 1%;
  fill: navajowhite;
}

#time {
  font-family: System-Bold;
  text-length: 32;
  font-size: 120;
  y: 36%;
}

#ampm {
  font-family: System-Bold;
  text-length: 32;
  font-size: 45;
  y: 52%;
}

#date {
  font-family: System-Bold;
  text-length: 32;
  font-size: 25;
  y: 96%;
}